body {
	-webkit-text-size-adjust: none;
	-webkit-text-stroke: 0px transparent;
}

a {
	-webkit-tap-highlight-color: #fff;
}

input {
	-webkit-appearance: none;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	background: #fff;
	border: solid 2px #000;
	height: 34px;
	width: 34px;
}

input[type='checkbox']:checked {
	background: #fff;
	border: solid 2px #000;
}

input[type='checkbox']:checked:after {
	content: ' ';
	display: block;
	width: 26px;
	height: 26px;
	background: #ccc;
	position: relative;
	-webkit-border-radius: 2px;
	top: 2px;
	left: 2px;
}
